// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-cod-gray: #191919;
$color-blue-chill: #118DA8;
$color-gorse: #FCFF51;

// Typography
$ff-main: 'DM Sans',
  'Segoe UI',
  'Roboto',
  'Helvetica Neue',
  sans-serif;

// Viewport
$vp-tablet: 1024px;
$vp-mobile: 768px;

// Animation
$transition-300: ease-in 0.3s;