.btn {
  margin: 0;
  padding: 0;
  border: none;

  cursor: pointer;
  background-color: transparent;
  color: $color-white;

  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    background-color: $color-blue-chill;
    padding: 12px 20px;
    border-radius: 6px;
    transition: background-color $transition-300;

    &:hover {
      background-color: #0e7086;
    }
  }

}