.header {
  padding: 26px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }

  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      color: $color-white;
    }
  }

  &__nav {
    padding: 20px;

    @media (max-width: $vp-mobile) {
      display: none;
    }

    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px 45px;
      flex-wrap: wrap;
    }

    &-link {
      font-size: 17px;
      line-height: 27px;
      color: $color-white;
      transition: color $transition-300;

      &:hover {
        color: $color-blue-chill;
      }
    }
  }

  &__burger {
    display: none;

    @media (max-width: $vp-mobile) {
      display: flex;
    }
  }
}