.socials {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  &__link {
    color: $color-white;
    transition: color $transition-300;

    &:hover {
      color: $color-blue-chill;
    }
  }
}